/*----------Reset----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

/*------------------Root-------------------------*/

:root {
    --bg-home: linear-gradient(200deg, rgb(8, 8, 116, 0.5) 0.92%, rgb(24, 130, 168) 27.96%, rgb(63, 63, 114)99.08%);
    --bg-about: ;
    --bg-skills: ;
    --bg-contact: ;
    /*--over-home: linear-gradient(0deg, rgb(177, 177, 177) 0%, rgba(27, 71, 54, 0.3) 20%, rgba(27, 71, 54, 0.3) 100%);  
    --over-about: linear-gradient(180deg, rgb(177, 177, 177) 0%, rgba(27, 71, 54, 0.3) 15%, rgba(27, 71, 54, 0.3) 100%);
    --over-skills: linear-gradient(180deg, rgba(27, 71, 54, 0.3) 0%, rgba(27, 71, 54, 0.3) 80%, rgb(177, 177, 177) 100%);
    --over-contact: linear-gradient(180deg, rgb(177, 177, 177) 0%, rgba(27, 71, 54, 0.3) 10%, rgba(27, 71, 54, 0.3) 100%);*/
    --bg-nav: rgba(219, 95, 79, 1);
    --bg-navList-hover: wheat;
    --bg-navBar: rgba(219, 95, 79, 0.95);
    --bg-darkMode: rgba(192, 59, 6, 80%);
    
    /* --bg-slider: linear-gradient(200deg, rgb(13, 13, 172, 0.9) 0.92%, rgb(0, 204, 255, 0.9) 27.96%, rgb(8, 8, 116, 0.9) 99.08%); */
    --bgPortafolio: linear-gradient(200deg, rgb(13, 13, 172, 2) 0.92%, rgb(0, 204, 255, 0.6) 27.96%, rgb(8, 8, 116, 0.5) 99.08%);
    --slider-color: white;
    --colorMenu: rgba(192, 59, 6);
    --icons_color: rgba(192, 59, 6, 80%);


    /*-------Dark Mode---------*/
    --bg-navDark: ;
    --bg-navBarDark: rgba(113, 121, 5, 0.95);
    --bg-homeDark: linear-gradient(200deg, rgba(10, 10, 32, 0.9) 0.92%, rgb(2, 21, 27) 47.96%, rgb(10, 10, 32)79.08%);;
    --bg-aboutDark: ;
    --bg-skillsDark: ;
    --bg-contactDark: ;
    /*--bg-sliderDark: rgba(66, 64, 58, 0.06);*/
    --bgPortafolioDark: rgba(255, 255, 255, 0.5);
    --slider-colorDark: wheat;
    --colorMenuDark: wheat;
    /*--over-homeDark: linear-gradient(180deg, rgba(27, 71, 54, .9) 0%, rgba(27, 71, 54, 0) 60%, rgba(27, 71, 54, 0.9) 100%);  
    --over-aboutDark: linear-gradient(180deg, rgba(27, 71, 54, 1) 0%, rgba(27, 71, 54, 0.3) 20%, rgba(27, 71, 54, 0.9) 100%);
    --over-skillsDark: linear-gradient(180deg, rgba(27, 71, 54, 0.9) 0%, rgba(27, 71, 54, 0.3) 30%,rgba(27, 71, 54, 1) 100%);
    --over-contactDark: linear-gradient(180deg, rgba(27, 71, 54, 1) 0%, rgba(27, 71, 54, 0.3) 20%, rgba(27, 71, 54, 0.9) 100%);*/
}

.decoration_container {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid rgb(238, 213, 213, 0.6) 2px;
    animation-name: decoration_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    
}

@keyframes decoration_animation {
0% {
transform: scale(100%);
transform: translateX(150%);
transform: translateY(10%);

}
100% {
transform: scale(-100%);
transform: translateX(-250%);
transform: translateY(-10%);

}

}

.decoration1 {
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid  rgb(238, 213, 213, 0.6) 5px;
    margin: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #4b4b4b;
}

.decoration_container2 {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid rgb(238, 213, 213, 0.6) 2px;
    animation-name: decoration_animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;

}

@keyframes decoration_animation2 {
0% {
transform: scale(100%);
transform: translateX(150%);
transform: translateY(10%);
}
100% {
transform: scale(-100%);
transform: translateX(-250%);
transform: translateY(-10%);
}
}

.decoration2 {
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid  rgb(238, 213, 213, 0.6) 5px;
    margin: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(58, 12, 226);
}

.decoration_container3 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid rgb(238, 213, 213, 0.6) 2px;
    animation-name: decoration_animation3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

@keyframes decoration_animation3 {
0% {
transform: scale(100%);
transform: translateX(150%);
transform: translateY(10%);
}
100% {
transform: scale(-100%);
transform: translateX(-250%);
transform: translateY(-10%);
}
}

.decoration3 {
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid  rgb(238, 213, 213, 0.6) 5px;
    margin: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(161, 161, 6);
}

.decoration_container4 {
    position: absolute;
    top: 15%;
    right: 15%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
    animation-name: decoration_animation4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes decoration_animation4 {
0% {
transform: scale(100%);
transform: translateX(150%);
transform: translateY(10%);
}
100% {
transform: scale(-100%);
transform: translateX(-250%);
transform: translateY(-10%);
}
}

.bg_body {
    background: var(--bg-home);
}

.font-size {
    font-size: 30px;
}

.dev {
    color: var(--colorMenu);
}

/*------------------Styles-------------------------*/

.header_container {
    width: 100%;
    height: 60px;
    margin: auto;
    position: fixed;
    top: 0;
    
    z-index: 2;
}

.nav {
    width: 100%;
    height: 100%;
    
    position: relative;
    
}

.logo {
    text-transform: uppercase;
    height: 100%;

    display: flex;
    align-items: center;
    padding-left: 20px;
    color: wheat;
    -webkit-text-stroke: 1px #00000009;
}

.dark_mode-nav {
    background-color: var(--bg-navDark);
}

.dark-mode_container {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-darkMode);
    border-radius: 50px;
    border: 0.5px solid wheat;
    transition: rigth 500ms ease;
}

.dark-mode-into {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
}

.btn_dark-mode {
    width: 19.5px;
    aspect-ratio: 1;
    background-color: wheat;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 3px 10px -1px #000;;

    right: 1px;
    cursor: pointer;
}

.btn_dark-mode-change {
    left: 1px;
}

.bx-menu {
    position: absolute;
    top: 100%;
    right: 5%;
    font-size: 45px;
    color: var(--colorMenu);

}

.bx-menu-hide {
    transform: translateX(2000px);
    
}

.bx-menuDark {
    color: var(--colorMenuDark);
}

.fa-sun {
    color: rgb(224, 192, 10);
}

.fa-moon {
    color: rgb(4, 38, 70);
    font-weight: 700;
}

.navbar {
    position: absolute;
    background-color: var(--bg-navBar);
    top: 5px;
    right: 5px;
    width: 250px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px 50px 5px 50px;
    gap: 1.5rem;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    transform: translateY(2000px);
    transition: transform 2000ms ease;
    -webkit-text-stroke: 0.5px #000;
}

.navbarDarkMode {
    background-color: var(--bg-navBarDark);
    
}

.navbar_hidden {
    transform: translateX(0);
    transition: transform 700ms ease;
}

.fa-xmark {
    width: 25px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 250ms ease;
    color: wheat;
}

.fa-xmark:hover {
    transform: scaleY(1.09);
    transition: transform 250ms ease;
}



.nav_list {
    width: 210px;
    display: flex;
    justify-content: center;
    border-radius: 5px 0px 5px 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: background-color 100ms ease;
    z-index: 2;
    color: wheat;
}

.nav_list:hover {
    background-color: var(--bg-navList-hover);
    color: black;
    color: inherit;
    transition: background-color 500ms ease;
}

.home {
    background-color: var(--bg-home);
    background-position: center;
}

.bgBodyDarkMode {
    background: var(--bg-homeDark);
}

.about {
    /*background-image: var(--bg-about);
    background-position: 0px -1598px;
    background-position: center;*/
    background-color: var(--bg-about);
}

.bgAboutDarkMode {
    background-image: var(--bg-aboutDark);
}

.skills {
    /*background-image: var(--bg-skills);
    background-position: 0px 400px;
    background-position: center;*/
    background-color: var(--bg-skills);
}

.bgSkillsDarkMode {
    background-image: var(--bg-skillsDark);
}

.contact {
    background-color: var(--bg-contact);
    /*background-position: 0px -300px;*/
    background-position: center;
}

.bgContactDarkMode {
    background-image: var(--bg-contactDark);
}

.home,
.about,
.skills,
.contact {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;

}

.body_home,
.body_about,
.body_skills,
.body_contact {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;

}

.body_home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider_container {
    width: 100%;
    max-width: 900px;
    height: 70%;
    padding: 50px;
    
    position: relative;
    border-radius: 20px 0px 20px 0px;
    z-index: 0;
}

.slider_static {
    width: 100%;
    max-width: 500px;
    height: 100%;

    margin: auto;
    overflow: hidden;

}

.slider_traslateX {
    display: flex;
    width: 300%;
    height: 100%;

    margin-left: -100%;
}

.slider_img-container {
    width: 100%;

    display: flex;




}

.temporal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--bg-slider); */
    color: var(--slider-color);
    -webkit-text-stroke: 0.5px #0009;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.bgSliderDarkMode {
    background: var(--bg-sliderDark);
    color: var(--slider-colorDark);
}

.slider_prev,
.slider_next {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 10px #0003;
    font-size: 25px;
    color: wheat;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

/* .slider_prev:hover,
.slider_next:hover {

} */

.slider_prev {
    left: 2%;
}

.slider_next {
    right: 2%;
    z-index: 1;
}

.slider_circle-bottom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2%;
}

.slider_circle-bottom {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: wheat;
    box-shadow: 0px 3px 10px #0004;
}

.slider_circle-bottom-active {
    background-color: rgb(192, 59, 6);
}

.body_about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    /* border-radius: 20px 0px 20px 0px; */
    /* box-shadow: 0px 1px 5px 1px rgba(245, 222, 179, 40%); 
    background-color: #ccc1;*/
}

.about_img-container {
    width: 50%;
    max-width: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    
    box-shadow: 0px 1px 5px 1px rgba(245, 222, 179, 40%);
    overflow: hidden;

}

.about_img {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_info {
    width: 100%;
    max-width: 724px;
    height: 70%;
    
    border-radius: 10px;
    color: wheat;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.about_info-title {
    font-size: 25px;
}
.about_details {
    font-size: 16px;
}

.about_info_social-contact {

    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fa-file-arrow-down {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    color: rgb(134, 136, 2);
    animation-name: download_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    text-shadow: 0px 1px 2px #000003;
}


.fa-file-arrow-down:hover {
/*animation-play-state: paused;*/
text-shadow: none;
}

@keyframes download_animation {
0% {
    transform: translateY(-4%);
}
100% {
    transform: translateY(4%);
}
}

.fa-file-arrow-down:hover {
transform: scale(1.05); 
transition: transform 0.5s ease;
}

.fa-file-arrow-down p {
    font-size: 14px;
    margin-top: 10px;
}

.download_container {
    display: flex;
    flex-direction: column;
}

.download_link {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: rgb(134, 136, 2);
    text-shadow: 0px 1px 2px #000003;
    transition: transform 0.5s ease
}

.download_link:hover {
    transform: translateY(-2px);
    transform: scale(1.1);
    text-decoration: underline;
    transition: transform 0.5s ease
}

.social_contact {
    box-sizing: border-box;
   display: flex;
   align-items: center;
   gap: 1rem;
    width: 100%;

    font-size: 14px;

}

.img_box {
    box-sizing: border-box;
    min-width: 30px;
    width: 30px;

    display: flex;
    align-items: center;
}

.social_img {
    display: block;
    width: 100%;
    height: 30px;
}




.body_skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    /* border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 1px 5px 1px rgba(245, 222, 179, 40%); 
    background-color: #ccc1;*/
}

.skills_tech-container {

    width: 100%;
    max-width: 100%;
    height: 30%;
    /* border-radius: 10px;
    border: 1px solid wheat; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    z-index: 1;
}

.skills_tech-img {
    display: block;
    width: 100%;
    max-width: 70px;
    height: 100%;
    max-height: 70px;
    
    padding: 5px;
    border-radius: 10px;
    object-fit: contain;
    animation-name: moveTechImg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}

.skills_tech-img:nth-child(1) {
    animation-delay: 0;
}

.skills_tech-img:nth-child(2) {
    animation-delay: 0.9s;
}

.skills_tech-img:nth-child(3) {
    animation-delay: 0.8s;
}

.skills_tech-img:nth-child(4) {
    animation-delay: 0.5s;
}

.skills_tech-img:nth-child(5) {
    animation-delay: 0.3s;
}

.skills_tech-img:nth-child(6) {
    animation-delay: 0.7s;
}



.skills_tech-img:hover {
    animation-play-state: paused;
    border: rgb(33, 128, 218) solid;
}

@keyframes moveTechImg {
    0% {
        transform: translateY(0);
    }
        
   
    100% {
        transform: translateY(3%);   
    }
    
}


.skills_portafolio-container {
    width: 100%;
    max-width: 744px;
    height: 70%;
    
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: var(--bg-slider);
    gap: 10px;
    padding-right: 20px;
    padding-left: 20px;
    
}

/*.bgPortafolioDarkMode {
    background:;
}*/

.skills_portafolio-title{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: rgb(255, 255, 0, 0.4);
    -webkit-text-stroke: rgb(255, 81, 0, 0.9) 1px;
    font-size: 50px;
    text-shadow: 0px 1px 2px #000003;
}

.skills_portafolio-samples{
    width: 100%;
    height: 100%;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    padding: 20px;
    
}

.skills_portafolio-card{
    box-sizing: border-box;
    width: 100px;
    box-shadow: 0px 3px 8px #000003;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 800ms ease;
    position: relative;
}

.descrip {
    width: 101%;
    height: 101%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 236, 0.6);
    position: absolute;
    transform: translateX(-100%);
    transition: transform 1500ms ease;
    top: 0;
    z-index: 6000;
}

.descrip h5 {
    width: 100px;
    text-align: center;
    color: rgb(61, 60, 60);
}

.descrip p {
    width: 100px;
    text-align: center;
    font-size: 8px;
    color: rgb(61, 60, 60);
}

.skills_portafolio-card:hover {
    transform: scale(2);
    transition: transform 700ms ease;
    z-index: 5000;
    box-shadow: -2px 3px 8px #000004;
    
}

.skills_portafolio-card:hover > .descrip {
    transform: translateX(0%);
    transition: transform 1500ms ease;
    
}

.skills_portafolio-img{
    width: 100%;
    display: block;
    margin: auto;
}

#card2 {
    position: relative;
}

.card_info2 {
    position: absolute;

    border: solid 1px beige;
    width: 100%;


}

.card_info2:hover {
    transform: translateY(3%);

}

.body_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.contact_title {
    color: wheat;
    -webkit-text-stroke: rgb(192, 59, 6);
    font-size: 40px;
    font-weight: 700;
}

.form_container{
    width: 100%;
    max-width: 550px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #ccc6;
    padding: 2rem;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 1px 5px 1px rgba(245, 222, 179, 20%);
    background-color: rgba(204, 204, 204, 0.01);
}

.from_labels {
    color: wheat;
    font-size: 18px;
}

.form_infoUp {
    display: flex;
    flex-direction: column;
}

.form_input {
    width: 100%;
    max-width: 350px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 5%);
    padding-left: 10px;
}

.form_input::placeholder {
    color: rgb(192, 59, 6);
    -webkit-text-stroke: rgb(2, 2, 59) 0.3px;

    height: 100%;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
}

.form_text {
    display: flex;
    flex-direction: column;


    margin-top: 10px;
}

.form_text-input {
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 5%);
    padding: 20px;
    font-size: 14px;
}

.form_text-input::placeholder {
    color: rgb(248, 77, 9);
    -webkit-text-stroke: rgb(2, 2, 59) 0.3px;

    height: 100%;
    font-size: 18px;


}

.btn_submit {
    width: 150px;
    height: 35px;
    margin-top: 5%;
    margin-left: 25%;
    background-color: rgb(248, 77, 9);
    box-shadow: 0px 3px 5px 0px #0005;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: filter 100ms ease, transform 150ms ease;
}

.btn_submit:hover {
    filter: brightness(1.02);
    transform: scale(1.02);
    transition: filter 100ms ease, transform 150ms ease;
}

.footer_container {
    width: 100%;
    height: 100px;
    margin: auto;
    
    
    
}

.footer_animationScroll {
    background-color: rgba(11, 11, 24, 0.5);
    position: static;
    top: none;
    right: none;
    transform: none;
    width: 600px;
    height: 80px;
}

/*.footer_socials {
    width: 100%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.facebook_icon {
    color: rgb(95, 95, 207);
    font-size: 50px;
}

.footer_img_box {
    box-sizing: border-box;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.footer-img {
    display: block;
    width: 100%;
    height: 100%;
}*/
/* redes sociales*/
.socials {
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.social_animationScroll {
    flex-direction: row;
}

.whatsapp {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: width 1s;
    position: relative;
}

.deploy_whatsapp {
    width: 150px;
    display: flex;
   
    transition: width 0.5s;
    
    
}

.whatsapp p {
    position: absolute;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--icons_color);
    cursor: pointer;    
}

.hidden_number {
    transform: translateX(-100%);
    transition: transform 1s;
}

.deploy_number {
    transform: translateX(35%);
    transition: transform 1s;
}




.social_icons {
    font-size: 30px;
    color: var(--icons_color);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.social_icons:hover {
    transform: scale(1.05); 
    transition: transform 0.5s ease;
}

    

@media screen and (min-width: 700px) {

    .decoration_container {
        top: 5%;
        
    }

    .header_container {
        width: 100%;
        height: 60px;
        margin: auto;
        position: fixed;
        top: 0;
        
    }

    .navbar {
        position: absolute;
        top: 37px;
        background-color: transparent;
        right: 3%;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding-right: 30px;
        padding-left: 30px;
        width: auto;
        height: auto;
        padding-top: 0;
        transform: translateX(0);
        transition: transform 1500ms ease;
        
    }

    .navbar_hidden {
        transform: translateX(0);
        transition: transform 5000ms ease;
    }

    .dark-mode_container {
        top: 70px;


    }

    .slider_prev {
        left: 3%;
    }

    .slider_next {
        right: 3%;
    }

    .bx-menu {
        display: none;
    }

    .fa-xmark {
        display: none;

    }

    .nav_list {
        color: wheat;
        width: 100px;
    }

    .about_container {
        flex-direction: row;
    }

    .about_img-container {
        max-width: 300px;
    }    
    
    .about_details {
        font-size: 20px;
    }

    .skills_container {
        flex-direction: row;
        
        
    }

    .skills_tech-container {
        height: 60%;
        max-width: 100%;
        justify-content: center;
        
        
    }

    .skills_portafolio_tech-container {
        height: 100%;
        width: 100%;
    }

    .skills_tech-img {
        min-width: 100px;
        padding: 10px;
        min-height: 100px;
    }

    .skills_portafolio-samples{
        display: flex;
        flex-wrap: nowrap;


    }

    .skills_portafolio-card{

        width: 100%;


    }

    .form_container{
        max-height: 450px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.5rem;
    }


    .form_text {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .btn_submit {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    }

    .footer_animationScroll {
        background-color: rgba(11, 11, 24, 0);
        position: fixed;
        top: 650px;
        right: 50%;
        transform: translateX(50%);
        width: 600px;
        height: 80px;
        
    }

    .social_icons {
        font-size: 40px;
        color: var(--icons_color);
        cursor: pointer;
        transition: transform 0.5s ease;
    }

    .whatsapp {
        width: 70px;
        height: 70px;
        transition: width 1s;
        
    }
    
    .whatsapp:hover {
        width: 150px;
        display: flex;
        transition: width 0.5s;
        
        
    }
    
    .whatsapp p {
        transform: translateX(-100%);
        transition: transform 1s;
    }
    
    .whatsapp:hover > .phone {
        transform: translateX(40%);
        transition: transform 1s;
    }

        
}

@media screen and (min-width: 700px) and (max-width: 850px) {    
    
    
    
    .skills_container {
        flex-direction: column;
        
    }

    .skills_tech-container {
        height: 100%;
        max-width: 100%;
        
        
    }

    .skills_portafolio_tech-container {
        height: 60%;
        width: 100%;
    }

   
    .about_details {
        font-size: 18px;
    }

    
    
}